:root{

}

body{
    padding: 0;
    margin: 0;
}

#container{
    width: 100vw;
    display: grid;
    gap: 20px;
}

#header{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
}

#header>H1{
    padding: 0;
    margin: 0;
    font-size: 3rem;
}

#add-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    height: 5vh;
    width: 20vw;
    border-width: 0;
    border-radius: 20px;
    background-color: lightblue;
    padding: 0;
    font-size: 1rem;
    font-weight: bold;
}

#contents{
    display: grid;
    gap: 10px;
    justify-content: center;
}

.book-card{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    background-color: lightgrey;
    width: fit-content;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}